@import "../settings/default-alignment";

@mixin attach-corner-label-to($corner: $default-alignment) {
  @if $corner == top-left {
    left: 0;
    right: auto;
    transform-origin: 0 100%;
    transform:
      translateY(-100%)
      rotate(-90deg)
      translateX(#{ sqrt( pow(100, 2) / 2) * -1% })
      rotate(45deg);
  }

  @if $corner == top-right {
    right: 0;
    left: auto;
    transform-origin: 100% 100%;
    transform:
      translateY(-100%)
      rotate(-90deg)
      translateX(#{ sqrt( pow(100, 2) / 2) * -1% })
      rotate(135deg);
  }
}
