$corner-ribbon-colors: (
  default: (
    color: black,
    background-color: yellow,
    hover-background-color: orange,
    shadow-color: darkorange,
  ),

  dark: (
    color: white,
    background-color: red,
    hover-background-color: darkred,
    shadow-color: maroon,
  ),
) !default;
